<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytn.elemonitoring.project.dao.FirstDataDao">
	
	<select id="selectMemberInfoListCnt" resultType="Integer">
		SELECT COUNT(*) FROM(
		    SELECT
		        DISTINCT gd.sub_sg_id, ww2.wiwid AS sdid, ww.wiwid, sg.sggid,
		        ww2.ytn_wiwname ||' '|| DECODE(gd.sub_sg_id, 120220309, ww.ytn_wiwname, sg.ytn_sggname) AS area,
		        DECODE(gd.sub_sg_id, 120220309, ww.ytn_order, sg.ytn_order) AS ytn_order,
		        SUM(CASE WHEN REPLACE(gd.sub_sg_id, 20220309) IN (1, 2, 3, 4, 11) THEN 1 ELSE 0 END) OVER () AS cnt
		    FROM tgm_gaepyo_data gd, kcm_sungergu sg, kcm_wiwon ww, kcm_wiwon ww2
		    WHERE gd.sggid = sg.sggid AND gd.wiwid = ww.wiwid AND ww.wiwparent = ww2.wiwid
		    ORDER BY gd.sub_sg_id, ytn_order
		)
	</select>
	
	<select id="selectMemberInfoList" resultType="com.ytn.elemonitoring.project.dto.FirstDataDto" parameterType="com.ytn.elemonitoring.project.vo.PageingVo">
		SELECT *
			FROM(SELECT rownum rowIdx, x.* FROM (
			    SELECT
			        DISTINCT gd.sub_sg_id as subSgId, ww2.wiwid AS sdid, ww.wiwid, sg.sggid,
			        ww2.ytn_wiwname ||' '|| DECODE(gd.sub_sg_id, 120220309, ww.ytn_wiwname, sg.ytn_sggname) AS area,
			        DECODE(gd.sub_sg_id, 120220309, ww.ytn_order, sg.ytn_order) AS ytn_order,
			        SUM(CASE WHEN REPLACE(gd.sub_sg_id, 20220309) IN (1, 2, 3, 4, 11) THEN 1 ELSE 0 END) OVER () AS cnt
			    FROM tgm_gaepyo_data gd, kcm_sungergu sg, kcm_wiwon ww, kcm_wiwon ww2
			    WHERE gd.sggid = sg.sggid AND gd.wiwid = ww.wiwid AND ww.wiwparent = ww2.wiwid
			    ORDER BY ${targetOrder} ${order}
			) x)
		WHERE rowIdx BETWEEN ${startPageIdx} AND ${endPageIdx}
	</select>
	
</mapper>

